<p>
    Hola amigo, <%= @email %>.
</p>

<p>
    <% var = 10 %>
    <!-- Asi es como podemos hacer un bluque en el html con ruby, cuando son funciones no se agrega el = -->
    <% var.times do |n|%>
        <%= n %>
    <%end%>
    <!--fin-->
</p>


